:root {
  interpolate-size: allow-keywords;

  @supports (width: -moz-available) {
    --stretch: -moz-available;
  }

  @supports (width: -webkit-fill-available) {
    --stretch: -webkit-fill-available;
  }

  @supports (width: stretch) {
    --stretch: stretch;
  }
}


* {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    align-items: center;
    text-align: center;
    background-color: rgb(75, 59, 95);
    margin: 25px;
    color: rgb(215, 209, 237);
}

.inliner {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    width: max-content;
}

.dropbox { /* for <button> element */
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(215, 209, 237);
    border: none;
}

.dropbox:hover {
    background-color: rgba(215, 209, 237, 0.1);
}

.dropbox:active {
    background-color: rgba(215, 209, 237, 0.3);
}

.dropbox-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(29, 28, 31);
}

@supports (anchor-name: --test) and (position-anchor: --test) {
    .dropbox-list {
        position-anchor: --dropbox;
        position: fixed;
        left: anchor(left);
        top: anchor(bottom);
    }
}
@supports not ((anchor-name: --test) and (position-anchor: --test)) {
    .dropbox-list {
        position: absolute;
        left: 0%;
        top: 0%;
        visibility: hidden;
    }
}

.dropbox-list-item {
    margin: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(215, 209, 237);
    border: none;
    width: 100%;
}

.dropbox-list-item:hover {
    background-color: rgba(215, 209, 237, 0.1);
}

.dropbox-list-item:active {
    background-color: rgba(215, 209, 237, 0.3);
}

#title {
    width: 75%;
    background-color: rgb(29, 28, 31);
    padding: 10px;
    margin: 0 auto;
    max-width: 750px;
}

#title p {
    font-size: 2em;
    font-weight: 800;
    font-style: bold;
    color: rgb(176, 154, 255);
}

#entry
{
    width: 50%;
    background-color: rgb(215, 209, 237);
    margin: 0 auto;
    max-width: 500px;
    transform: translate(0, 0); /* -10%, 0 for sidebar */
}

#hotbar {
    background-color: rgb(29, 28, 31);
    aspect-ratio: 15;
    display: flex;
    padding: 10px;
}

#inputter {
    aspect-ratio: calc(4/3);
    color: rgb(29, 28, 31);
    padding: 10px;
}

#footer {
    background-color: rgb(29, 28, 31);
    aspect-ratio: 15;
    display: flex;
    padding: 10px;
}

#send {
    height: 100%;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    background-image: url("./../resources/send-none.png");
    background-repeat: no-repeat;
    background-size: 93.333% 100%;
}

#send:hover {
    background-image: url("./../resources/send-hover.png");
}

#send:active {
    background-image: url("./../resources/send-click.png");
}

#send:disabled {
    background-image: url("./../resources/send-disable.png");
}

#sender-span {
    display: flex;
    width: var(--stretch);
    justify-content: right;
}